@##@@@@@@@
32r44
html,
body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: black;
	color: black;
	font-family: 'Roboto', sans-serif;
}

/* Override link colors */
a {
	color: black;
	text-decoration: none;
}

/* Override specific UI element styles */
.loading-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1;
	height: 100vh;
  background-color: black
}
